<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>出发地</string>
		<key>subTags</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>北京</string>
				<key>subTags</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>上海</string>
				<key>subTags</key>
				<array/>
			</dict>
		</array>
	</dict>
    <dict>
        <key>id</key>
        <string>1</string>
        <key>name</key>
        <string>行程天数</string>
        <key>subTags</key>
        <array>
            <dict>
                <key>id</key>
                <string>0</string>
                <key>name</key>
                <string>1天</string>
                <key>subTags</key>
                <array/>
            </dict>
            <dict>
                <key>id</key>
                <string>1</string>
                <key>name</key>
                <string>2天</string>
                <key>subTags</key>
                <array/>
            </dict>
        </array>
    </dict>
    <dict>
        <key>id</key>
        <string>2</string>
        <key>name</key>
        <string>出发时间</string>
        <key>subTags</key>
        <array>
            <dict>
                <key>id</key>
                <string>0</string>
                <key>name</key>
                <string>1月</string>
                <key>subTags</key>
                <array/>
            </dict>
            <dict>
                <key>id</key>
                <string>1</string>
                <key>name</key>
                <string>2月</string>
                <key>subTags</key>
                <array/>
            </dict>
        </array>
    </dict>
</array>
</plist>
