<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>product_name</key>
		<string>产品0</string>
		<key>projects</key>
		<array>
			<dict>
				<key>project_name</key>
				<string>项目00</string>
				<key>developers</key>
				<array>
					<dict>
						<key>developer_name</key>
						<string>开发000</string>
						<key>bug_levels</key>
						<array>
							<string>一级</string>
							<string>二级</string>
							<string>三级</string>
						</array>
					</dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发001</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发002</string>
                        <key>bug_levels</key>
                        <array>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
				</array>
			</dict>
			<dict>
                <key>project_name</key>
                <string>项目01</string>
                <key>developers</key>
                <array>
                    <dict>
                        <key>developer_name</key>
                        <string>开发010</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发011</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发012</string>
                        <key>bug_levels</key>
                        <array>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                </array>
			</dict>
			<dict>
                <key>project_name</key>
                <string>项目02</string>
                <key>developers</key>
                <array>
                    <dict>
                        <key>developer_name</key>
                        <string>开发020</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发021</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发022</string>
                        <key>bug_levels</key>
                        <array>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                </array>
			</dict>
		</array>
	</dict>
    <dict>
        <key>product_name</key>
        <string>产品1</string>
        <key>projects</key>
        <array>
            <dict>
                <key>project_name</key>
                <string>项目10</string>
                <key>developers</key>
                <array>
                    <dict>
                        <key>developer_name</key>
                        <string>开发100</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发101</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发102</string>
                        <key>bug_levels</key>
                        <array>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>project_name</key>
                <string>项目11</string>
                <key>developers</key>
                <array>
                    <dict>
                        <key>developer_name</key>
                        <string>开发110</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发111</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发112</string>
                        <key>bug_levels</key>
                        <array>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>project_name</key>
                <string>项目12</string>
                <key>developers</key>
                <array>
                    <dict>
                        <key>developer_name</key>
                        <string>开发120</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发121</string>
                        <key>bug_levels</key>
                        <array>
                            <string>一级</string>
                            <string>二级</string>
                        </array>
                    </dict>
                    <dict>
                        <key>developer_name</key>
                        <string>开发122</string>
                        <key>bug_levels</key>
                        <array>
                            <string>二级</string>
                            <string>三级</string>
                        </array>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</array>
</plist>
